<?xml version="1.0" ?>


<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <material name="blue">
      <color rgba="0 0 0.8 1"/>
   </material>

   <link name="world"/>
 <joint name="fixed2" type="fixed">
    <parent link="world"/>
    <child link="barre600"/>
</joint>  
<link name="barre600">
    <inertial>
      <mass value="10.635"/>
      <inertia ixx="860e-03" ixy="-39.84e-5" ixz="3.991e-3" iyy="83e-2" iyz="-38.29e-5" izz="40e-3"/>
      <origin rpy="0 0 0" xyz="0 1 0.17346"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://yoyoman01_description/meshes/barre600.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    <origin rpy="0 0 0" xyz="-0.3 0 0"/>  
    </visual>
    <collision>
      <selfCollide>true</selfCollide>
      <geometry>
        <mesh filename="package://yoyoman01_description/meshes/barre.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    <origin rpy="0 0 0" xyz="-0.3 0 0"/>
    </collision>
  </link> 
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/yoyoman01</robotNamespace-->
    </plugin>
    <selfCollide>true</selfCollide>
    <static>false</static>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>


</robot>
