<?xml version="1.0" encoding="UTF-8"?>

<robot name="sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <material name="blue">
      <color rgba="0 0 0.8 1"/>
   </material>

<!-- IMU -->
<link name="imu_link">
  <inertial>
    <mass value="0.00"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertia ixx="0.000" ixy="0" ixz="0" iyy="0.000" iyz="0" izz="0.000"/>
  </inertial>

  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <sphere radius="1"/>
    </geometry>
  </visual>

  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <sphere radius="1"/>
    </geometry>
  </collision>
</link>

<!-- IMU Joint -->
   <link name="world"/>
  <joint name="imu_joint" type="fixed">
    <axis xyz="0 0 0"/> <!-- 0 1 0 -->
    <origin xyz="0 0 0"/>
    <parent link="world"/>
    <child link="imu_link"/>
  </joint>



  <gazebo reference="imu_link">
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

</robot>
