<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="input_topic" default="/sot_hpp/state"/>
  <arg name="output_prefix" default="/sot"/>

  <node pkg="roscontrol_sot_yoyoman" name="republish" type="republish" args="$(arg input_topic) $(arg output_prefix)/joint_state"/>

  <node pkg="tf" type="static_transform_publisher"
    name="base_link_broadcaster"
    args="0 0 0 0 0 0 1 base_link $(arg output_prefix)/base_link 100" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <remap from="/joint_states" to="$(arg output_prefix)/joint_state" />
    <param name="tf_prefix" value="$(arg output_prefix)" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" />
</launch>
