<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Sot Controller configuration -->
  <rosparam command="load" file="$(find roscontrol_sot_yoyoman)/config/sot_yoyoman_params_effort.yaml"/>
  <rosparam command="load" ns="/sot_controller/effort_control_pd_motor_init" file="$(find yoyoman_hardware_gazebo)/config/pids.yaml"/>
  <rosparam command="load" file="$(find roscontrol_sot_yoyoman)/config/sot_yoyoman_controller.yaml" />
  
  <env name="PYTHONPATH" value="/opt/pal/dubnium/lib/python2.7/dist-packages:/opt/ros/indigo/lib/python2.7/dist-packages:/opt/openrobots/lib/python2.7/dist-packages:/opt/openrobots/lib/python2.7/site-packages" />
  <!-- Spawn walking controller -->
  <node name="sot_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />

</launch>

