<!-- -*-xml-*-
     Handle ROS simulation of the SoT.
  -->
<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="robot" default="yoyoman01" />
  <arg name="libsot" default="libsot-yoyoman01-controller.so" />   

  <!-- BTW we are in simulation ? -->

   <!-- Load robot model. -->
  <param name="robot_description"
	 textfile="$(find yoyoman01_sot_description)/urdf/yoyoman01.urdf" />


   <!-- Load robot sot params. -->
  <rosparam command="load"
	 file="$(find sot_yoyoman01_bringup)/sot/yoyoman01.yaml" />
  
  <machine name="geometric_simu_machine"
           address="localhost">
  </machine >

  <!--
     Read joint_states topic and publish link positions to tf.

     openhrp_bridge publishes encoder values to the joint_states topic
     therefore, this provide the most reliable way of identifying link
     relative position on HRP-2.
    -->
  <node name="robot_state_publisher"
	pkg="robot_state_publisher"
	type="state_publisher"
	respawn="true">
    <param name="tf_prefix" value="" />
  </node>


  <!-- Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server"
	name="tf2_buffer_server" respawn="true">
    <param name="buffer_size" value="120.0"/>
  </node>
</launch>
