<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <param name="robot_description"  command="$(find xacro)/xacro --inorder '$(find yoyoman01_traject)/urdf/imu.xacro'" />

  <arg name="gzpose" default=" -x -0 -y 0 -z 1 -u"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model2" args="-urdf -param /robot_description $(arg gzpose) -model imu2"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_imu">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
