<?xml version="1.0" encoding="UTF-8"?>

<launch>
 <param name="robot_description_semantic"
	      command="$(find xacro)/xacro --inorder $(find yoyoman01_traject)/config/yoyoman01.srdf.xacro"/>
  <arg name="robot_sufix"  default=""/>
  <!-- execute pre-recorded motions -->
  <rosparam file="$(find yoyoman01_traject)/config/yoyoman01_motions4$(arg robot_sufix).yaml" command="load" />
  <node pkg="play_motion"  type="play_motion" name="play_motion" >
    <rosparam file="$(find yoyoman01_traject)/config/approach_planner.yaml" command="load" />
  </node>


  <node pkg="play_motion" type="is_already_there.py"  name="is_already_there" />
</launch>



